<p>(This message will follow in English)</p>

<p>Hej {{ user.firstName }}!</p>

<p>Tack för att du är {% if user.isMusicFriend() %}Musikkompis{% else %}Fikakompis{% endif %} genom Kompisbyrån!</p>

<p>Vi vill gärna att du hjälper oss att svara på några frågor om din träff: http://goo.gl/forms/76v5MgEG9F.</p>

<p>Du svarar anonymt. (Om du och din {% if user.isMusicFriend() %}Musikkompis{% else %}Fikakompis{% endif %} inte har hunnit träffas än, spara gärna detta e-mail och svara på frågorna efter er träff.)</p>

<p>Tack så mycket för att du hjälper oss att bli bättre på vårt jobb!</p>

<p>Om du inte redan har gjort det får du gärna maila oss ett foto från ert musikmöte eller fika och berätta var ni träffades, vad ni hittade på och hur det var.</p>

<p>Om du vill träffa en ny {% if user.isMusicFriend() %}Musikkompis{% else %}Fikakompis{% endif %}, gör så här:</p>

<p>1. Logga in här: http://kompisbyran.se/login med din e-mail och ditt lösenord.</p>

<p>2. Välj den stad du kan träffas i och tryck på Kompisfika-knappen.</p>

<p>Kontakta oss om du har frågor!</p>

<p>
Bästa hälsningar
Kompisbyrån
</p>

<p>
--------------------------------------------------------------<br />
(Translation in English)
</p>

<p>Hello {{ user.firstName }}!</p>

<p>Thank you for being a {% if user.isMusicFriend() %}Music{% else %}Fika{% endif %} friend in Kompisbyrån!</p>

<p>We are wondering if you could help us answering a few questions about your meeting here: http://goo.gl/forms/76v5MgEG9F.</p>

<p>You respond anonymously. (If you and your friend haven’t been able to meet yet, please save this e-mail and answer the questions after your meeting.)</p>

<p>Thank you for helping us to improve our organization!</p>

<p>We would be very happy if you could send us a photo from your music meeting or fika and tell us a bit more about where you met, how it was and what you did.</p>

<p>Do you want to meet a new {% if user.isMusicFriend() %}Music{% else %}Fika{% endif %} friend?</p>

<p>1. Please, log in with your e-mail and your password: http://kompisbyran.se/login</p>

<p>2. Choose the city you can meet up in, and push the “Friend request”-button.</p>

<p>Please, contact us if you have any questions.</p>

<p>
Best wishes,<br />
Kompisbyrån
</p>